<html>

<head>
  <style>
  h1 {text-align: center;}
  h3 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  </style>
</head>

<body>
<h1>New Products at Your Stores</h1>
{% for store in stores %}
      <p> <img src="{{ store.company_logo }}" width="20" height="20"> {{ store.company_name }} {{ store.address }} {{ store.town }} {{ store.state }} </p>
  {% for p in products %}
  {% if p.store_id == store.id %}

  <p> {{ p.prod.name }} {{ p.prod.brand }} 
    <img src="{{ p.prod.picture_url }}" width="20" height="20"> {{ p.price }}
  </p>

  {% endif %}

  {% endfor %}

{% endfor %}
</body>
</html>